<launch>
    <include file="$(find mygopigo)/launch/gopigo3.launch" />
    <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch" />
    <!-- include file="$(find gpg3)/launch/imu.launch" / -->

    <!-- parameters updated from ydlidar git site X4.launch -->
    <node name="ydlidar_node" pkg="ydlidar" type="ydlidar_node" output="screen" respawn="false" >
        <param name="port" type="string" value="/dev/ydlidar"/>
        <param name="baudrate" type="int" value="128000"/>
        <param name="frame_id" type="string" value="base_scan"/>
        <param name="low_exposure" type="bool" value="false"/>
        <param name="resolution_fixed" type="bool" value="true"/>
        <param name="auto_reconnect" type="bool" value="true"/>
        <param name="reversion" type="bool" value="false"/>
        <param name="angle_min" type="double" value="-180" />
        <param name="angle_max" type="double" value="180" />
        <param name="range_min" type="double" value="0.1" />
        <param name="range_max" type="double" value="12.0" />
        <param name="ignore_array" type="string" value="" />
        <param name="samp_rate" type="int" value="5"/>
        <!-- frequency is invalid, External PWM control speed -->
        <param name="frequency" type="double" value="7"/>
    </node>
    
</launch>
